@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
    
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(IMG.png);
    background-size: 100vw 100vh;
    background-color: #2148C0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

[src="Group3769.png"] {
    width: 387.15px;
    height: 32px;    
    padding-left: 20px;
}

.mt-2 {
    position: relative;
}

.items-center + div + div::before {
    position: absolute;
    content: "";
    background-image: url(visibility_off.svg);
    width: 24px;
    height: 24px;
    top: 3px;
    right: 5px;

}

.

button {
    cursor: pointer;
}